body {
  font-family: helvetica;
  text-align: center;
}

.head {
  text-align: center;
  background-image: url('/Users/iitsadaa/Github/broadway/resources/the-flatiron-building.jpg')
}

div {
  display: block;
}

.credit {
    background-image: url('/Users/iitsadaa/Github/broadway/resources/the-flatiron-building.jpg')
}

a {
  font-family: helvetica;
  font-size: 18px;
  color: white;
}

h1 {
  font-family: helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  background-image: url('/Users/iitsadaa/Github/broadway/resources/the-flatiron-building.jpg')
}

h2 {
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-family: helvetica;
  font-size: 14px;
}

.process {
  text-align: center;
}

.footer {
  color: white;
  font-size: 11px;
  text-align: left!important;
  background-color: dimgray;
}
